<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Модальные окна для строк таблицы</title>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

  <style>
    body {
      background-color: rgba(248, 249, 250, 0.56);
    } .btn-sidebar {
        background-color: #343a40;
      }
  </style>
</head>
<body class="bg-body-secondary">  <!-- Цвет фона-->




<!-- Шапка страницы -->
<div class="row btn-sidebar text-white p-1 mb-1">
  <div class="d-flex justify-content-between">
    <p class="text-start">
      <span class="fw-bold" th:text="${userAdmin.email}">Email</span> with roles:
      <span th:each="role, iterStat: ${userAdmin.roles}"  th:text="${role.name} + ' '">
      <span th:if="${!iterStat.last}">&nbsp;</span>
      </span>
    </p>
    <a th:href="@{/logout}" class="link-secondary">Logout</a>
  </div>
</div>


<!-- Основное содержимое -->
<div class="container-fluid vh-100 p-0">
  <div class="row">
    <!-- Левый столбец -->
    <div class="col">
      <div class="p-9">
        <!-- Содержимое левого столбца -->
        <div class="col-10 bg-white text-dark vh-100">
          <a th:each="role : ${userAdmin.roles}"
             th:href="${role.name == 'ROLE_ADMIN'} ? '/admin/' : '/user/'"
             class="btn btn-light d-block mb-2"
             th:text="${role.name}">Роль
          </a>
        </div>
      </div>
    </div>

    <!-- Основной контент -->
    <div class="col-lg-9">
      <div class="p-8">

        <!--<div class="container mt-5">-->
        <h1>Admin panel</h1>

        <!-- Навигационные вкладки -->
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">
              Users table <!-- Вкладка All users -->
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">
              New User <!-- Вкладка new User -->
            </button>
          </li>
        </ul>

        <div class="tab-content p-3 border border-top-0 rounded-bottom" id="myTabContent">

          <!-- Список всех пользователей-->
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

            <div class="alert alert-warning">All users</div>

            <table class="table table-striped">
              <thead>
              <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Age</th>
                <th>Email</th>
                <th>Active</th>
                <th>Role</th>
                <th>Edit</th>
                <th>Delete</th>
              </tr>
              </thead>
              <tbody>
              <tr th:each="item : ${list}">
                <td th:utext="${item.id}">ID</td>
                <td th:utext="${item.username}">First Name</td>
                <td th:utext="${item.age}">Age</td>
                <td th:utext="${item.email}">Email</td>
                <td th:utext="${item.active}">Active</td>
                <td>
                  <th:block th:each="role, iterStat : ${item.roles}">
                    <span th:text="${role.name} + ','" >Role</span>

                  </th:block>
                </td>
                <td>
                  <!-- Кнопка для открытия модального окна обновления -->
                  <button class="btn btn-secondary btn-sm" data-bs-toggle="modal"
                          th:attr="data-bs-target='#editModal'+${item.id}">
                    Edit
                  </button>
                </td>
                <td>
                  <!-- Кнопка для открытия модального окна удаления -->
                  <button class="btn btn-danger btn-sm ms-2" data-bs-toggle="modal"
                          th:attr="data-bs-target='#deleteModal'+${item.id}">
                    Delete
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <!-- Модальные окна для каждой строки -->
          <div th:each="item : ${list}">
            <!-- Модальное окно редактирования -->
            <div class="modal fade" th:id="'editModal'+${item.id}" tabindex="-1" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Edit user</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>

                  <div class="modal-body">
                    <form th:action="@{/admin/update}"  method="post">

                      <div class="text-center">
                        <label for="updateID" class="form-label">ID</label>
                        <input type="text" class="form-control" id="updateID"
                               name="id" th:value="*{item.id}" readonly>
                      </div>


                      <div class="text-center">
                        <label for="editName" class="form-label">First name</label>
                        <input type="text" class="form-control" id="editName"
                               name="username" th:value="*{item.username}" >
                      </div>

                      <div class="text-center">
                        <label for="updateAge" class="form-label">Age</label>
                        <input type="text" class="form-control" id="updateAge"
                               name="Age" th:value="*{item.age}" >
                      </div>

                      <div class="text-center">
                        <label for="updateEmail" class="form-label">Email</label>
                        <input type="text" class="form-control" id="updateEmail"
                               name="Email" th:value="*{item.email}" >
                      </div>

                      <div class="text-center">
                        <label for="updatePassword" class="form-label">Password</label>
                        <input type="password" class="form-control" id="updatePassword"
                               name="password" th:value="*{item.password}" >
                      </div>

                      <div class="text-center">
                        <label for="updateActive">Active</label>
                        <select id="updateActive" class="form-control" name="active" th:value="*{item.active}">
                          <option value="true" th:text="true"></option>
                          <option value="false" th:text="false"></option>
                        </select>
                      </div>

                      <div class="text-center">
                        <label for="updateRole" class="form-label">Role</label>
                        <select class="form-select" id="updateRole" size="2" name="roles">
                          <option th:each="role : ${allRoles}"
                                  th:value="${role.id}"
                                  th:text="${role.name}"
                                  th:selected="${#lists.contains(item.roles, role)}">
                          </option>
                        </select>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-danger">Edit</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <!-- Модальное окно удаления -->
            <div class="modal fade" th:id="'deleteModal'+${item.id}" tabindex="-1" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Delete user</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <form>
                      <div class="text-center">
                        <label for="ID" class="form-label">ID</label>
                        <input type="text" class="form-control" id="ID"
                               th:value="*{item.id}" readonly>
                      </div>
                      <div class="text-center">
                        <label for="firstname" class="form-label">First name</label>
                        <input type="text" class="form-control" id="firstname"
                               th:value="*{item.username}" readonly>
                      </div>
                      <div class="text-center">
                        <label for="userAge" class="form-label">Age</label>
                        <input type="text" class="form-control" id="userAge"
                               th:value="*{item.age}" readonly>
                      </div>
                      <div class="text-center">
                        <label for="userEmail" class="form-label">Email</label>
                        <input type="text" class="form-control" id="userEmail"
                               th:value="*{item.email}" readonly>
                      </div>
                      <div class="text-center">
                        <label for="userActive" class="form-label">Active</label>
                        <input type="text" class="form-control" id="userActive"
                               th:value="*{item.active}" readonly>
                      </div>
                      <div class="text-center">
                        <label for="role" class="form-label">Role</label>
                        <select class="form-select" id="role" size="2" aria-label="size 2 select example"  readonly>
                          <option th:each="role : ${item.roles}"
                                  th:text="${role.name}" >
                          </option>
                        </select>
                      </div>
                    </form>
                  </div>

                  <div class="modal-footer">

                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                    <form th:action="@{/admin/delete/{id} (id=${item.id})}" method="post">
                      <button type="submit" class="btn btn-danger">Delete</button>
                    </form>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Добавление пользователя-->
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">

          <div class="alert alert-warning">Add new user</div>

          <div class="mx-auto" style="width: 300px;">  <!-- размер столбца -->

            <form th:method="POST" th:action="@{/admin/user}" th:object="${user}">
              <div class="text-center">
                <label for="name">First name</label>
                <input type="text" class="form-control" id="name" th:field="*{username}">
              </div>
              <div class="text-center">
                <label for="age">Age</label>
                <input type="text" class="form-control" id="age" th:field="*{age}">
              </div>
              <div class="text-center">
                <label for="email">Email</label>
                <input type="text" class="form-control" id="email" th:field="*{email}">
              </div>
              <div class="text-center">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" th:field="*{password}">
              </div>

              <div class="text-center">
                <label for="active">Active</label>
                <select id="active" class="form-control" th:field="*{active}">
                  <option value="true" th:text="true"></option>
                  <option value="false" th:text="false"></option>
                </select>
              </div>

              <div class="text-center">
                <label>Roles:</label>
                <select class="form-select" size="2" aria-label="size 2 select example" th:field="*{roles}">
                  <option th:each="role : ${roles}"
                          th:value="${role.id}"
                          th:text="${role.name}">
                  </option>
                </select>
              </div>
              <div class="d-grid gap-3 col-5 mx-auto">
                <button type="submit" class="btn btn-success" >Add new user</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>